@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@300&display=swap');

  
html {
    font: 40px;
    text-align: center;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    overflow-x: hidden;
    background-color: #00A560;
    animation-name: example;
    animation-duration: 100s;
    animation-iteration-count: 5;  
  }

  
  
#title{
    align-self: center;
    color: cyan;
    font-family: 'Indie Flower', cursive;
    font-size: xx-large;
}

#coming-soon{
    font-family: 'Open Sans', sans-serif;
    font-size: large;
}

.progress{
    font-size: larger;
}


@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

:root {
  --gradient: linear-gradient(90deg, #FE964D, #4C3F99, #f64f59);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Indie Flower", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  font-size: 1.125em;
  line-height: 1.6;
  background: #4C3F99;
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.container {
  background: #1E4D1C;
  width: 70vw;
  padding: 9rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  font-size: 3rem;
  color: #FE964D;
  line-height: 0.8;
  background-image: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  transition: background-position 1s;
}

.title:hover {
  background-position: right;
}

.credit a{
    text-decoration: none;
    color: #fff;
  }

  .credit {
      color:#FE964D;
      margin-top: 10px;
      text-align: center;
  }

